*.tar.xz
*.tar.gz
.*.swp
.vscode/

build/

tests/out.ogg
tests/out.opus
tests/out.webm
tests/out.mp4

node_modules/

dist/libav-6.5.7.1-h264-aac-mp3.asm.js
dist/libav-6.5.7.1-h264-aac-mp3.asm.mjs
dist/libav-6.5.7.1-h264-aac-mp3.dbg.asm.js
dist/libav-6.5.7.1-h264-aac-mp3.dbg.asm.mjs
dist/libav-6.5.7.1-h264-aac-mp3.dbg.js
dist/libav-6.5.7.1-h264-aac-mp3.dbg.mjs
dist/libav-6.5.7.1-h264-aac-mp3.dbg.thr.js
dist/libav-6.5.7.1-h264-aac-mp3.dbg.thr.mjs
dist/libav-6.5.7.1-h264-aac-mp3.dbg.thr.wasm
dist/libav-6.5.7.1-h264-aac-mp3.dbg.thr.wasm.map
dist/libav-6.5.7.1-h264-aac-mp3.dbg.wasm.js
dist/libav-6.5.7.1-h264-aac-mp3.dbg.wasm.mjs
dist/libav-6.5.7.1-h264-aac-mp3.dbg.wasm.wasm
dist/libav-6.5.7.1-h264-aac-mp3.dbg.wasm.wasm.map
dist/libav-6.5.7.1-h264-aac-mp3.wasm.wasm.map
dist/libav-6.5.7.1-h264-aac-mp3.js
dist/libav-6.5.7.1-h264-aac-mp3.thr.js
dist/libav-6.5.7.1-h264-aac-mp3.thr.mjs
dist/libav-6.5.7.1-h264-aac-mp3.thr.wasm
dist/libav-6.5.7.1-h264-aac-mp3.wasm.js

ffmpeg-7.1/*.a
ffmpeg-7.1/*.o
ffmpeg-7.1/*.o.*
ffmpeg-7.1/*.d
ffmpeg-7.1/*.def
ffmpeg-7.1/*.dll
ffmpeg-7.1/*.dylib
ffmpeg-7.1/*.exe
ffmpeg-7.1/*.exp
ffmpeg-7.1/*.gcda
ffmpeg-7.1/*.gcno
ffmpeg-7.1/*.h.c
ffmpeg-7.1/*.ilk
ffmpeg-7.1/*.lib
ffmpeg-7.1/*.pc
ffmpeg-7.1/*.pdb
ffmpeg-7.1/*.so
ffmpeg-7.1/*.so.*
ffmpeg-7.1/*.swp
ffmpeg-7.1/*.ver
ffmpeg-7.1/*.version
ffmpeg-7.1/*.metal.air
ffmpeg-7.1/*.metallib
ffmpeg-7.1/*.metallib.c
ffmpeg-7.1/*.ptx
ffmpeg-7.1/*.ptx.c
ffmpeg-7.1/*.ptx.gz
ffmpeg-7.1/*_g
ffmpeg-7.1/\#*
ffmpeg-7.1/.\#*
ffmpeg-7.1/.config
ffmpeg-7.1/.version
ffmpeg-7.1/ffmpeg
ffmpeg-7.1/ffplay
ffmpeg-7.1/ffprobe
ffmpeg-7.1/config.asm
ffmpeg-7.1/config.h
ffmpeg-7.1/config_components.h
ffmpeg-7.1/coverage.info
ffmpeg-7.1/lcov/
ffmpeg-7.1/src
ffmpeg-7.1/mapfile
ffmpeg-7.1/tools/python/__pycache__/
ffmpeg-7.1/build-*/**
ffmpeg-7.1/PATCHED
